<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CloudDisk</display-name>
  
  <servlet>
  	<servlet-name>userAction</servlet-name>
  	<servlet-class>com.xnkd.action.UserAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>userAction</servlet-name>
  	<url-pattern>/userAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>fileAction</servlet-name>
  	<servlet-class>com.xnkd.action.FileAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>fileAction</servlet-name>
  	<url-pattern>/fileAction</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         F:\LocalFile
     </param-value>
  </context-param>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>